<div>
    <h1> Usuario: {{user}}!</h1>
    <h2>Socket IO</h2>
</div>
<div>
    <input name="text" name="chatbox" id="chatbox">
</div>
<div>
    <ul id="messageLog"></ul>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js" ></script>
<script src="/aleas/js/index.js"></script>